---
export interface Props {
	title: string;
}

const { title } = Astro.props;

// Components
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en" id="html" class="overflow-x-hidden">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-100 scrollbar-thin scrollbar-thumb-blue-700 scrollbar-track-slate-900
	dark:bg-slate-800 ">
		<main class="">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global> 
	@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;&display=swap');
	
	html{
		scroll-behavior: smooth !important;
		scroll-padding-top: 4rem !important;
	}
	
	*{
		font-family: 'Poppins', sans-serif;
		user-select: none;
		-webkit-user-select: none;
	}

	.hide {
		opacity: 0;
		transform: translateX(-100%);
		transition: all .5s ease-in-out;
	}
	
	.show {
		transform: translateX(0);
		opacity: 1;
	}

</style>

<script defer is:inline>
	window.addEventListener('scroll', () => {
		var hide = document.querySelectorAll('.hide')

		for(var i=0; i < hide.length; i++){
			var wH = window.innerHeight;
			var hideTop = hide[i].getBoundingClientRect().top;
			var hidePoint = 10;
			
			if (hideTop < wH - hidePoint ){
				hide[i].classList.add('show')
			} else {
				hide[i].classList.remove('show')
			}
		}
	})
</script>